# Imports and preprocessing

## Imports

In [5]:
import pandas as pd

## Teams DB

In [12]:
data = pd.read_csv('data/england-premier-league-teams-2018-to-2019-stats.csv')

In [14]:
data.head(5)

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
3,Leicester City FC,Leicester City,2018/2019,England,38,19,19,0,15,8,...,7,1,9,18,16,21,42,42,42,5
4,Crystal Palace FC,Crystal Palace,2018/2019,England,38,19,19,0,14,5,...,8,8,11,18,26,11,45,47,42,11

In [63]:
start_data = data[['common_name','matches_played', 'wins', 'wins_home','wins_away','losses_home','losses_away', 'losses']]

In [64]:
start_data['home_percentage'] = (start_data['wins_home']/19).round(2)

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/3343339179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_data['home_percentage'] = (start_data['wins_home']/19).round(2)

In [65]:
start_data['away_percentage'] = (start_data['wins_away']/19).round(2)

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/4018960548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_data['away_percentage'] = (start_data['wins_away']/19).round(2)

In [66]:
start_data['points'] = (data['points_per_game']*38).round(0)

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/400297253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  start_data['points'] = (data['points_per_game']*38).round(0)

In [67]:
start_data.sort_values('points', ascending = False)

,common_name,matches_played,wins,wins_home,wins_away,losses_home,losses_away,losses,home_percentage,away_percentage,points
2,Manchester City,38,32,18,14,1,3,4,0.95,0.74,98.0
10,Liverpool,38,30,17,13,0,1,1,0.89,0.68,97.0
11,Chelsea,38,21,12,9,1,7,8,0.63,0.47,72.0
1,Tottenham Hotspur,38,23,12,11,5,8,13,0.63,0.58,71.0
0,Arsenal,38,21,14,7,2,8,10,0.74,0.37,70.0
9,Manchester United,38,19,10,9,3,7,10,0.53,0.47,66.0
19,Wolverhampton Wanderers,38,16,10,6,5,8,13,0.53,0.32,57.0
5,Everton,38,15,10,5,5,9,14,0.53,0.26,54.0
3,Leicester City,38,15,8,7,8,8,16,0.42,0.37,52.0
12,West Ham United,38,15,9,6,6,10,16,0.47,0.32,52.0
13,Watford,38,14,8,6,8,8,16,0.42,0.32,50.0
4,Crystal Palace,38,14,5,9,9,8,17,0.26,0.47,49.0
8,AFC Bournemouth,38,13,8,5,6,13,19,0.42,0.26,45.0
14,Newcastle United,38,12,8,4,10,7,17,0.42,0.21,45.0
6,Burnley,38,11,7,4,10,10,20,0.37,0.21,40.0
7,Southampton,38,9,5,4,6,11,17,0.26,0.21,39.0
17,Brighton & Hove Albion,38,9,6,3,8,12,20,0.32,0.16,36.0
15,Cardiff City,38,10,6,4,11,13,24,0.32,0.21,34.0
16,Fulham,38,7,6,1,10,16,26,0.32,0.05,26.0
18,Huddersfield Town,38,3,2,1,14,14,28,0.11,0.05,16.0

## Matches DB

In [51]:
match_data = pd.read_csv('data/england-premier-league-matches-2018-to-2019-stats.csv')

In [52]:
match_data.head(5)

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_home_team_win,odds_ft_draw,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name
0,1533927600,Aug 10 2018 - 7:00pm,complete,74439,Manchester United,Leicester City,Andre Marriner,1,0.0,0.0,...,1.37,4.98,9.81,1.33,2.00,3.60,7.50,2.05,1.69,Old Trafford (Manchester)
1,1533987000,Aug 11 2018 - 11:30am,complete,51749,Newcastle United,Tottenham Hotspur,Martin Atkinson,1,0.0,0.0,...,4.51,3.77,1.84,1.31,1.95,3.50,5.75,1.83,1.87,St. James' Park (Newcastle upon Tyne)
2,1533996000,Aug 11 2018 - 2:00pm,complete,10353,AFC Bournemouth,Cardiff City,Kevin Friend,1,0.0,0.0,...,2.03,3.51,3.96,1.31,1.95,3.45,6.70,1.83,1.83,Vitality Stadium (Bournemouth- Dorset)
3,1533996000,Aug 11 2018 - 2:00pm,complete,24821,Fulham,Crystal Palace,Mike Dean,1,0.0,0.0,...,2.31,3.44,3.26,1.28,1.87,3.20,7.00,1.71,2.00,Craven Cottage (London)
4,1533996000,Aug 11 2018 - 2:00pm,complete,24121,Huddersfield Town,Chelsea,Chris Kavanagh,1,0.0,0.0,...,7.47,4.27,1.51,1.29,1.91,3.30,6.95,2.00,1.71,John Smith's Stadium (Huddersfield- West Yorks...

In [54]:
match_data_pre = match_data.drop('timestamp', axis = 1)

In [59]:
match_data_pre = match_data.drop('home_ppg', axis = 1)
match_data_pre = match_data.drop('away_ppg', axis = 1)

In [61]:
match_data_pre = match_data_pre[['home_team_name', 'away_team_name', 'home_team_goal_count', 'away_team_goal_count']]

In [62]:
match_data_pre

,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count
0,Manchester United,Leicester City,2,1
1,Newcastle United,Tottenham Hotspur,1,2
2,AFC Bournemouth,Cardiff City,2,0
3,Fulham,Crystal Palace,0,2
4,Huddersfield Town,Chelsea,0,3
...,...,...,...,...
375,Liverpool,Wolverhampton Wanderers,2,0
376,Manchester United,Cardiff City,0,2
377,Southampton,Huddersfield Town,1,1
378,Tottenham Hotspur,Everton,2,2
379,Watford,West Ham United,1,4

In [72]:
match_data_pre['away_team_away_percentage'] = 0

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/2440545403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_team_away_percentage'] = 0

In [74]:
for i in range(0, len(match_data_pre)):
    for j in range(0, len(start_data)):
        if match_data_pre['home_team_name'][i] == start_data['common_name'][j]:
            match_data_pre['home_team_home_percentage'][i] = start_data['home_percentage'][j]
            
        if match_data_pre['away_team_name'][i] == start_data['common_name'][j]:
            match_data_pre['away_team_away_percentage'][i] = start_data['away_percentage'][j]

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/1453583459.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_team_away_percentage'][i] = start_data['away_percentage'][j]
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/1453583459.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['home_team_home_percentage'][i] = start_data['home_percentage'][j]

In [75]:
match_data_pre

,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,home_team_home_percentage,away_team_away_percentage
0,Manchester United,Leicester City,2,1,0.53,0.37
1,Newcastle United,Tottenham Hotspur,1,2,0.42,0.58
2,AFC Bournemouth,Cardiff City,2,0,0.42,0.21
3,Fulham,Crystal Palace,0,2,0.32,0.47
4,Huddersfield Town,Chelsea,0,3,0.11,0.47
...,...,...,...,...,...,...
375,Liverpool,Wolverhampton Wanderers,2,0,0.89,0.32
376,Manchester United,Cardiff City,0,2,0.53,0.21
377,Southampton,Huddersfield Town,1,1,0.26,0.05
378,Tottenham Hotspur,Everton,2,2,0.63,0.26
379,Watford,West Ham United,1,4,0.42,0.32

In [106]:
match_data_pre['home_win'] = 0
match_data_pre['away_win'] = 0

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/2363250459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['home_win'] = 0
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/2363250459.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_win'] = 0

In [111]:
for i in range(0,len(match_data_pre)):
    if match_data_pre['home_team_goal_count'][i] > match_data_pre['away_team_goal_count'][i]:
        match_data_pre['home_win'][i] = 1
        match_data_pre['away_win'][i] = 0
    elif match_data_pre['home_team_goal_count'][i] < match_data_pre['away_team_goal_count'][i]:
        match_data_pre['away_win'][i] = 1
        match_data_pre['home_win'][i] = 0

for i in range(0,len(match_data_pre)):
    if match_data_pre['home_win'][i] == 0 and match_data_pre['away_win'][i] == 0:
        match_data_pre['home_win'][i] = 0.5
        match_data_pre['away_win'][i] = 0.5

/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['home_win'][i] = 1
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_win'][i] = 0
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_win'][i] = 1
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['home_win'][i] = 0
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['home_win'][i] = 0.5
/var/folders/0y/5bdrgh9x1vq3vcp3pz35y9jr0000gn/T/ipykernel_44416/969261203.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_data_pre['away_win'][i] = 0.5

In [112]:
match_data_pre

,home_team_name,away_team_name,home_team_goal_count,away_team_goal_count,home_team_home_percentage,away_team_away_percentage,home_win,away_win
0,Manchester United,Leicester City,2,1,0.53,0.37,1.0,0.0
1,Newcastle United,Tottenham Hotspur,1,2,0.42,0.58,0.0,1.0
2,AFC Bournemouth,Cardiff City,2,0,0.42,0.21,1.0,0.0
3,Fulham,Crystal Palace,0,2,0.32,0.47,0.0,1.0
4,Huddersfield Town,Chelsea,0,3,0.11,0.47,0.0,1.0
...,...,...,...,...,...,...,...,...
375,Liverpool,Wolverhampton Wanderers,2,0,0.89,0.32,1.0,0.0
376,Manchester United,Cardiff City,0,2,0.53,0.21,0.0,1.0
377,Southampton,Huddersfield Town,1,1,0.26,0.05,0.5,0.5
378,Tottenham Hotspur,Everton,2,2,0.63,0.26,0.5,0.5
379,Watford,West Ham United,1,4,0.42,0.32,0.0,1.0

## Preprocessing

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
mmscaler = MinMaxScaler()